.slideout {
    position: fixed;
    height: 40px;
    width: 100px;
    background-color: #888;
    top: 230px;
    left: -30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    border-radius: 10px 10px 0px 0px;
    z-index: 4;
    border: 1px solid black;
    border-bottom: 1px solid #888;
    cursor: pointer;
}

.slideout_inner {
    position: fixed;
    background-color: #888;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-size: 14px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    top: 180px;
    height: 60vh;
    width: 250px;
    left: -250px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-sizing: border-box;
    border-radius: 0px 10px 10px 0px;
    z-index: 10000000;
}

.slideout_inner > p > a {
    margin-left: 3px;
}

.sideout_inner > p > a:hover {
  cursor: pointer;
}

.slide-active {
  left: 219px;
}
.authors-active {
  left: 0;
}
.heatToggle:hover{
  cursor: pointer;
}

.heatToggle {
    position: fixed;
    height: 40px;
    width: 40px;
    // background-color: #888;
    // background-color: 888;
    bottom: 20px;
    right: 10px;
    color: #888;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 101;
    border-radius: 50%;
    justify-content: center;
    font-size: 30px;
    // -webkit-transform: rotate(90deg);
    // -moz-transform: rotate(90deg);
    // -o-transform: rotate(90deg);
    // -ms-transform: rotate(90deg);
    // transform: rotate(90deg);
    // border-radius: 10px 10px 0px 0px;
    // border: 1px solid white ;
    user-select: none;
   -webkit-user-select: none;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 100;
  cursor: pointer;
}

.modal-active {
  display: block;
}
