.map{
    position: absolute;
    height: 100%;
    margin-top: -6%;
    margin-left: -2%;
    display: flex;
    justify-content: center
}
.fix{
    position: fixed;
    z-index: -1
}
.search-link{
    position: absolute;
    z-index: 2;
    top: 5%;
    width: 100%;
    display: flex;
    justify-content: center
    
}
.search-link > input{
    background-color: lightgray;
    padding: 3px;
    border: none;
    width: 60%
}
.hide{
    display: none
}