body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#map {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}
.mapboxgl-canvas{
    width: 100vw;
    height: 100vh;
}
.search-link{
    position: absolute;
    z-index: 2;
    top: 5%;
    width: 100%;
    display: flex;
    justify-content: center
}
.search-link > input{
    background-color: lightgray;
    padding: 3px;
    border: none;
    width: 60%
}
.hide{
    display: none
}
.fix{
    position: fixed;
    z-index: -1
}

.mapboxgl-popup-content {

    h2 {
        b {
            color: red;
        }
    }
}