.search-form > form input{
   margin-bottom: 5px;
   margin-left: 5px;
   border: 1px solid lightgray
}
.search-form {
    z-index: 3;
    display: none;
    background-color: white;
    width: 100%;
    color: black;

}
.show{
    display: block
}

.search-form > form label{
    position: relative;
}

.locations-dropdown {
    background-color: white;
    color:black;
    display: none;
    position: absolute;
    z-index: 3;
}
.show {
    display: flex
}
.search-form > form ul{
    padding: 0;
    margin: 0
}
.search-form > form li{
    list-style: none;
    width: 100%;
    font-size: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 1px solid black
}
.search-form > form ul:last-child{
   border-bottom: none
}

.search-form > form button {
    border: 1px solid lightgray;
    background-color: white;
    margin-left: 5px
}

.search-form > h2 {
  
}