.search-form > form input{
   margin-bottom: 5px;
   margin-left: 5px;
   border: 1px solid lightgray
}
.search-form {
    display: none;
    background-color: white;
    width: 100%;
    color: black;
    position: absolute;
    top: 0;
    padding-top: 15px;
    animation-name: slide;
    animation-duration: 0.5s;
    padding-left: 30px;
    padding-bottom: 10px
}
p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slide {
  from {
    margin-left: 100%;
    
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.search-form > button {
    position: absolute;
    top: 0;
    left: -5px
}
.show{
    display: block
}

.search-form > form label{
    position: relative;
}
.search-form > form{
    width: 100%;
    position: relative;
}

.locations-dropdown {
    background-color: white;
    color:black;
    display: none;
    position: absolute;
   z-index: 2;
}
.show {
    display: flex
}
.search-form  ul{
    padding: 0;
    margin: 0;
    list-style: none
}
.search-form > form li{
    list-style: none;
    width: 100%;
    font-size: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 1px solid black
}
.search-form > form ul:last-child{
   border-bottom: none
}

.search-form > form button {
    border: 1px solid lightgray;
    // background-color: white;
    margin-left: 5px
}

.search-form > h2 {
  
}
.start-dropdown{
    position: absolute;
    top: 125px;
    left: 0;
    background-color: white
}
.start-dropdown  div {
    display: flex
}
.start-dropdown li {
    border-bottom: 1px solid lightblue;
    padding: 5px;
    padding-right: 40px;
    width: 100%
}
.start-dropdown img {
    width: 30px;
    height: 30px;
    margin-top: 10px
}