.search-form > form input{
    margin-bottom: 5px;
    background-color: #888;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    width: 80vw;
    height: 20px;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    max-width: 80vw;
}

.search-form > form input::placeholder{
    color: lightgray;
    letter-spacing: .05em;
}

.search-form {
    background-color: #888;
    width: 90%;
    margin-top: 10px;
    position: absolute;
    padding-top: 10px;
    animation-name: slide;
    animation-duration: 0.5s;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px 1px #fff;
    border-radius: 10px;
    height: 125px;
    color: black;
    padding-bottom: 5px;
}

.search-form > form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

@keyframes slide {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.search-form > form label{
    position: relative;
}

.locations-dropdown {
    background-color: #888;
    color:white;
    display: none;
    position: absolute;
    z-index: 2;
}

.reveal {
    display: flex;
}

.search-form ul{
    background-color: #888;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    list-style: none;
    color: white;
}
.search-form > form li{
    list-style: none;
    width: 100%;
    font-size: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 1px solid black;
}

.search-form > form ul:last-child{
   border-bottom: none;
}

.search-form > form button {
    border: 1px solid #fff;
    margin-top: 5px;
    padding: 7.5px 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #777;
    font-size: 15px;
}

#form-buttons {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 768px) {
    #form-buttons {
        width: 45%;
        display: flex;
        justify-content: space-evenly;
    }
}

.search-dd{
    border: 1px solid #fff;
    position: absolute;
    width: 100%;
    top: 125px;
    background-color: #888;
    display: none;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    // box-shadow: 0px 1px 1px 1px rgb(255, 255, 255);
    z-index: 5;
}

.search-dd div {
    display: flex;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.search-dd li {
    padding: 5px;
    padding-right: 40px;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
}

.search-dd li:hover {
    cursor: pointer;
}

.search-dd img {
    width: 30px;
    height: 30px;
    margin-top: 10px
}
.destination-dropdown{
    display: none
}
.show{
    display: block
}

.clear-from {
    z-index: 99;
}

.clear-to {
    z-index: 99;
}
