.search-form > form input{
    margin-bottom: 5px;
    // margin-left: 5px;
    background-color: #555;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    width: 80vw;
    height: 20px;
    color: white;
    font-size: 20px;
    // border: 1px solid red;
}

.search-form {
    background-color: #555;
    width: 90%;
    margin-top: 10px;
    color: black;
    position: absolute;
    padding-top: 10px;
    animation-name: slide;
    animation-duration: 0.5s;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px 2px rgb(49, 128, 210);
    border-radius: 10px;
    max-height: 150px;
}

.search-form > form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@keyframes slide {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.search-form > button {
    position: absolute;
    top: 5px;
    right: 35px;
    padding: 10px
}

.search-form > form label{
    position: relative;
}
.search-form > form {
    width: 100%;
    position: relative;
}

.locations-dropdown {
    background-color: #555;
    color:white;
    display: none;
    position: absolute;
    z-index: 2;
}

.reveal {
    display: flex;
}

.search-form  ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.search-form > form li{
    list-style: none;
    width: 100%;
    font-size: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 1px solid black;
}
.search-form > form ul:last-child{
   border-bottom: none
}

.search-form > form button {
    border: 1px solid lightgray;
    margin-left: 5px
}

.search-dd{
    position: absolute;
    top: 125px;
    left: 0;
    background-color: white;
    display: none
}
.search-dd div {
    display: flex
}
.search-dd li {
    border-bottom: 1px solid lightblue;
    padding: 5px;
    padding-right: 40px;
    width: 100%
}
.search-dd img {
    width: 30px;
    height: 30px;
    margin-top: 10px
}
.destination-dropdown{
    display: none
}
.show{
    display: block
}