.splash{
  // background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  //           linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  //           linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    height: 110vh;
    // margin-top: -15%;
    // margin-left: -5%;
    // padding-left: 5%;
    // padding-top: 15%;
    color: white;
    z-index: 1
}
.home{
  position: relative;
  height: 100%;
}
// .splash h2 {
//   z-index: 5
// }