.tripinfo {
    z-index: 3;
    background-color: #555;
    bottom: 0;
    position: fixed;
    display: flex;
    height: 80px;
    width: 100vw;
    box-shadow: 0px -2px 3px 0px rgb(49, 128, 210);
    color: white;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    box-sizing: border-box;
}

.tripstats {
    padding-left: 10px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}

#formbutt {
    border: 3px solid red;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.cancel {
    margin-left: 10px;
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.danger {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: red;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.safe {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: green;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.tripdanger {
    z-index: 3;
    background-color: #555;
    bottom: 0;
    position: fixed;
    display: flex;
    height: 80px;
    width: 100vw;
    box-shadow: 0px -2px 3px 0px rgb(49, 128, 210);
    color: white;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
    box-sizing: border-box;
}
