.tripinfo {
    z-index: 3;
    background-color: #555;
    bottom: 0;
    position: fixed;
    display: flex;
    height: 80px;
    width: 100vw;
    box-shadow: 0px -2px 3px 0px rgb(49, 128, 210);
    color: white;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    box-sizing: border-box;
}

.dangershadow {
    box-shadow: 0px -2px 3px 0px red;
}

.safeshadow {
    box-shadow: 0px -2px 3px 0px green;
}

.tripstats {
    padding-left: 10px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}

#formbutt {
    border: 3px solid red;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.cancel {
    margin-left: 10px;
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.danger {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: red;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

// .danger:hover {
//     animation: shadow-pulse 1s infinite;
// }

// .safe:hover {
//     animation: shadow-pulse 1s infinite;
// }

.hold {
    animation: shadow-pulse 1s infinite;
}

.safe {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: green;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.tripdanger {
    z-index: 3;
    background-color: #555;
    bottom: 0;
    position: fixed;
    display: flex;
    height: 80px;
    width: 100vw;
    box-shadow: 0px -2px 3px 0px rgb(49, 128, 210);
    color: white;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
    box-sizing: border-box;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}
